<h2><%=first_name%> <%=last_name%>, please input the amount of <font color="#ff8000">cents:</h2></font>

<form method="post" action="coins">
	<input type="number" name="cents">
	<input type="submit" value="next" >
</form> 
